{{template "base" .}}

{{block "maincontent" .}}
    <div class="d-flex align-items-start" onclick="window.location.replace('/product')">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start">
        <img src="https://picsum.photos/100" class="rounded-start" alt="product-foto">
        <div>
            <div class="mx-1" style="height: 75px; overflow: hidden;">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>

            <div class="d-flex">
                <p class="mx-1">16.000 UZS</p>
                <button type="button" class="btn btn-light ms-auto me-3" style="padding: 0; height: 27px; width: 90px;">
                    BUY
                    <img class="ms-2" src="../static/buy.png" alt="buy" style="height: 24px; width: 24px;"></button>
            </div>
        </div>
    </div>

{{end}}