<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="container d-flex flex-column min-vh-100 py-5">

    <!-- Header Nav -->
    <nav class="navbar-sm fixed-top bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-center">
            <a class="navbar-brand" href="#">Dena</a>
        </div>
    </nav>


    <img src="https://picsum.photos/340" alt="image">
    <h4 class="ms-auto mt-3">680.000 UZS</h4>
    <button class="btn btn-dark ms-auto">Добавить в корзину</button>
    <p class="my-2">Это описание продукта, можно написать о цвете или о весе продукта или о размере</p>


    <!-- Footer Nav -->
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Fixed bottom</a> -->
            <img src="../static/home.png" alt="home button" onclick="window.location.replace('/')">
            <img src="../static/cart.png" alt="cart button" onclick="window.location.replace('/cart')">
            <img src="../static/cheques.png" alt="cheques button">
            <img src="../static/settings.png" alt="settings button" onclick="window.location.replace('/appsettings')">
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>