{{ template "sign_base" .}}

{{ block "maincontent" .}}

<div class="h-auto d-inline-block my-auto justify-content-center">
    <form action="/auth/signup/" method="post" name="registration_form" id="registration_form">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" required name="email">
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
        </div>
        <div class="mb-3">
            <label for="surname" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="surname" name="surname" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Далее</button>
    </form>
    <p class="text-end mb-0"> Уже зарегистрированы? </p>
    <p class="text-end"><a href="#">Вход</a></p>
</div>

<p class="">
    Регистрируясь в нашей системе вы соглашаетесь с нашей <a href="#"> политикой конфиленциальности </a> и <a href="#">
        публичной офертой </a>
</p>
{{end}}